@media all and (min-width: 480px) {
    .Login {
      padding: 60px 0;
    }
  
    .Login form {
      margin: 0 auto;
      max-width: 320px;
    }
  }
.mx-md-m6{
  margin-top: 150px;
}
.header{
  margin-left: -15px;
}
body {
  background-color: #ffc19a;
}
.margined{
  margin-top: 60px;
}
.text{
  font-family: 'sanchez';
  font-size: 24px;
  color : #fff5ec;
}
.text2{
  font-family: 'sanchez';
  color: #fff5ec
}
