@media all and (min-width: 480px) {
    .Login {
      padding: 60px 0;
    }
  
    .Login form {
      margin: 0 auto;
      max-width: 320px;
    }
  }
.mx-md-m6{
  margin-top: 150px;
}
.header{
  position: absolute;
  left: 0px;
  top: 0px;
}
body {
  background-color: #ffc19a;
}
.margined{
  margin-top: 60px;
}
.text{
  font-family: 'sanchez';
  font-size: 24px;
  color : #fff5ec;
}
.text2{
  font-family: 'sanchez';
  color: #fff5ec;
}
h8{
  color: blue;
}
.backpicture {
  opacity: 0.3;
  position: absolute;
  top: 15%;
  left: 10%;
}
.profilePic{
  position: absolute;
  top: -8.5vw;
  right: 0cm;
}
.Scrollbar {
  
  overflow-y:scroll;
  height: 72vh;
  border: 1px solid white;
  padding: 1px;
  border-radius: 1%
}
.Comment{ 
  border: 1px solid #555;
  padding: 10px;
  margin-top: 1%;
  margin-right: 1%;
  margin-left: 1%;
  background-color: #ffc19aaa;
  border-radius: 5%
}
.Status{
  padding: 10px;
  margin-top: 1%;
  margin-right: 1%;
  margin-left: 1%;
}
.Bio{
  padding: 10px;
  margin-top: 1%;
  margin-right: 1%;
  margin-left: 1%;
}
.topMargined{
  margin-top: 1vw;
}
.topMargined50{
  margin-top: 10vw;
}
.topMargined10{
  margin-top: 5vw;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.topMarginedSidebar1{
  position: fixed;
  margin-top: 8.5vw;
  top:-25px;
  
}
